.rightContent{
    box-sizing: border-box;

    background: rgb(255, 255, 255);

    padding: 20px;
    width: 50%;

    border-radius: 10px;
    box-shadow: 0px 0px 7px 0px rgb(0, 0, 0);

    margin: 0px 0px 20px 0px;
}

.imagesContent{
    display: flex;
    flex-direction: column;
}

.imagesTextTitle{
    font-size: 35px;
    font-weight: 550;
    margin: 0px 0px 20px 0px;
}

.imagesBox{
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    flex-wrap: wrap;
}

.imageBox{
    width: 30%;
    height: fit-content;
    margin: 0px 0px 20px 0px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    font-size: 15px;
}

.imageBoxImage{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin: 0px 0px 5px 0px;
}

@media (max-width: 1000px){
    .rightContent{
        width: 100%;
    }

    .imagesBox{
        flex-direction: column;
    }

    .imageBox{
        width: 100%;
        font-size: 25px;
    }
}