@keyframes changeBack {
    0% {background-position: 100% 0%}
    100% {background-position: 100% 100%}
}

body{
    width: 100vw;
    height: 100vh;

    background: linear-gradient(rgb(145, 75, 255), rgb(0, 150, 255));
    background-size: 300vw 300vh;

    animation-name: changeBack;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
}
