:root{
    --primaryColor: rgb(145, 75, 255);
    --secundaryColor: rgb(0, 150, 255);
    --defaultPadding: 30px;
    --bigFontSize: 45px;
    --normalFontSize: 18px;
}

@keyframes changeBack {
    0% {background-position: 0% 0%}
    100% {background-position: 0% 100%}
}

body{
    box-sizing: border-box;

    width: 100vw;
    height: 100vh;
    padding: var(--defaultPadding);

    background: linear-gradient(var(--primaryColor), var(--secundaryColor));
    background-size: 100vw 400vh;

    animation: changeBack 10s ease infinite alternate;

    display: flex;
    flex-direction: column;
    align-items: center;

}
body > *{
    font-family: "Roboto", "sans-serif";
}
.totalContent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.bottom{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}