@media (max-width: 1080px){
    .leftContent{
        width: 100%;
        margin: 0px 0px 20px 0px;
    }

    .resumeImage{
        width: 100%;
    }

    .resumeBasicInfo{
        font-size: 20px;
    }

    .resumeBasicInfoIcon{
        width: 30px;
        height: 30px;
    }

    .resumeTextTitle{
        font-size: 30px;
    }

    .resumeTextTitleButton{
        font-size: 35px;

        display: flex;
        align-items: flex-end;
    }

    .resumeText{
        font-size: 20px;
    }
}