@media (max-width: 1100px){
    .rightContent{
        width: 100%;
    }

    .imagesBox{
        flex-direction: column;
    }

    .imagesTextTitle{
        font-size: 40px;
    }

    .imageBox{
        width: 100%;
        font-size: 25px;
    }
}