@media (max-width: 1080px){
    .rightContent{
        width: 100%;
    }

    .imagesBox{
        flex-direction: column;
    }

    .imagesTextTitle{
        font-size: 30px;
    }

    .imageBox{
        width: 100%;
        font-size: 20px;
    }
}