@media (max-width: 1080px){
    .rightContent{
        width: 100%;
    }

    .projectsBox{
        flex-direction: column;
    }

    .projectsTextTitle{
        font-size: 30px;
    }

    .projectBox{
        width: 100%;
        font-size: 20px;
    }
}