.rightContent{
    box-sizing: border-box;

    background: rgb(255, 255, 255);

    padding: 20px;
    width: 50%;

    border-radius: 10px;
    box-shadow: 0px 0px 7px 0px rgb(0, 0, 0);

    margin: 0px 0px 20px 0px;
}

.projectsContent{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.projectsTextTitle{
    font-size: 35px;
    font-weight: 550;
    margin: 0px 0px 20px 0px;
}
.projectsBox{
    box-sizing: border-box;

    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    flex-wrap: wrap;
}
.projectBox{
    box-sizing: border-box;
    position: relative;

    width: 48%;
    aspect-ratio: 5 / 3;

    border-radius: 5px;
    margin: 0px 0px 10px 0px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    font-size: 25px;
    font-weight: 600;

    overflow: hidden;
}
.projectBoxText{
    position: absolute;
    width: 200%;
    height: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;

    transition: transform 1s ease;
}
.projectBoxText:hover{
    transform: translate(-50%);
}
.projectBoxTextPart{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.projectBoxLink{
    position: absolute;
    top: 2%;
    left: 88%;
    font-size: 100px;
}